<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Demoliq{% endblock %}</title>

        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>

        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/open-sans.css') }}">


    </head>
    <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('img/can.jpg') }}" alt="cannabise" height="60" width="60"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('question_list') }}">Voter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('question_add') }}">Débatre</a>
                </li>

                    {% if  app.user%}
                    {{ app.user.email }}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}"data-toggle="tooltip" data-original-title="Déconnexion">Deconnexion</a>
                    </li>

                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_login') }}">inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_inscription') }}">connexion</a>
                        </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav">

            </div>
            <div class="col-sm-8 text-left">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }}">{{ message }}</div>
                    {% endfor  %}
                {% endfor  %}
                {% block content %}

                {% endblock %}
            </div>
            <div class="col-sm-2 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>




    </body>
</html>
